<div >

    <section class="card mb-3">
    
        <h2>{{post_title}}</h2>
        <h5>{{post_content}}</h5>
        <h4>Posted by: {{user.username}} on {{format_date date_created}}</h4>
    
    </section>

</div>