<div class="create-post m-4">
    <h4 class="subtitle mb-4">Edit Post</h4>
    <form class="edit-post-form mx-auto" id="edit-post-form">
    <!-- Post Title Input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="edit-post-title">Post Title</label>
      <input type="text" id="edit-post-title" class="form-control" value={{post.post_title}} />
    </div>

    <!-- Post content text area -->
    <div class="form-outline mb-4">
      <label class="form-label" for="edit-post-content">Content</label>
      <textarea id="edit-post-content" class="form-control">{{post.post_content}}</textarea>
    </div>

    <!-- New Post Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4 edit-submit-button" id="edit-{{post.id}}">Save</button>
    
  </form>

</div>
<script src="/js/editPost.js"></script>