<!--Homepage displays all posts from all users -->
<h6>Number of times you've visited this homepage: {{countVisit}}</h6>
{{#if posts.length}}
<div class="container">
<section class="posts row">
  {{#each posts as |post|}}
  {{> post-details}}
  {{/each}}
</section>
{{/if}}
</div>