<!-- We are tracking the number of times we visit this homepage -->
<h3>Number of times you've visited this homepage: {{countVisit}}</h3>

<section class="posts">
  {{#each posts as |post|}}
  {{> post-details}}
  {{/each}}
</section>