<div class="login m-4">
    <h4 class="login-subtitle mb-4">Login Below:</h4>
    <form class="login-form">
    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="email" id="login-email" class="form-control" placeholder="Your email" />
      <label class="form-label" for="login-email">Email address</label>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="password" id="login-password" class="form-control" placeholder="Your password" />
      <label class="form-label" for="login-password">Password</label>
    </div>

    <!-- 2 column grid layout for inline styling -->
    {{!-- <div class="row mb-4">
      <div class="col d-flex justify-content-center">
      
  </div> --}}


    <!-- Submit button -->
    <button type="button" class="btn btn-success btn-block mb-4 login-button" id="login-button">Sign in</button>


      


    

    
    
  </form>
</div>
<script src="/js/login.js"></script>

