<div class="create-post m-4">
    <h4 class="subtitle mb-4">Create New Blog Post Below:</h4>
    <form class="submit-post-form" id="new-post-form">
    <!-- Post Title Input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="new-post-title">Post Title</label>
      <input type="text" id="new-post-title" class="form-control" placeholder="Title" />
    </div>

    <!-- Post content text area -->
    <div class="form-outline mb-4">
      <label class="form-label" for="new-post-content">Content</label>
      <textarea id="new-post-content" class="form-control" placeholder="Enter content here"></textarea>
    </div>

    <!-- New Post Submit button -->
    <button type="submit" class="btn btn-success btn-block mb-4 post-submit-button" id="post-submit-button">Create Post</button>
    
  </form>

</div>
<script src="/js/submitPost.js"></script>