<div class="login m-4">
    <h4 class="login-subtitle mb-4">Register Below:</h4>
    <form>
         <!-- Username input -->
        <div class="form-outline mb-4">
            <input type="text" id="register-username" class="form-control" placeholder="Create a username" />
            <label class="form-label" for="register-username">Username</label>
        </div>
        <!-- Email input -->
        <div class="form-outline mb-4">
            <input type="email" id="register-email" class="form-control" placeholder="Your email"/>
            <label class="form-label" for="register-email">Email address</label>
        </div>
        <!-- Password input -->
        <div class="form-outline mb-4">
            <input type="password" id="register-password" class="form-control" placeholder="Create a password" />
            <label class="form-label" for="register-password">Password</label>
        </div>
        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
            <div class="col d-flex justify-content-center">
            
        </div>
        <!-- Submit button -->
        <button type="button" class="btn btn-success btn-block mb-4">Register</button>

  </form>
</div>


