

<section class="post">
  <form class="submit-comment-form">
    <!-- Comment Text Area -->
    <div class="form-outline mb-4">
      <label class="form-label" for="new-comment-content">Post a comment here!</label>
      <textarea id="new-comment-content" class="form-control" placeholder="Enter comment here"></textarea>
    </div>

    <!-- Comment Submit button -->
    <button type="submit" class="btn btn-success btn-block mb-4 comment-submit-button" id="comment-submit-button">Post Comment</button>
    
  </form>
  
  <h3 class="h3-single-post">Original Post</h3>
  {{> single-post-details post}}
  <h3 class="h3-comments">Comments</h3>
  <section class="comments-section">
  {{> comment-details post.comments}}
  </section>
  

  
</section>
<script src="/js/createComment.js"></script>