body {
    background-color: darkslategray;
    color: white;
}

.hero {
    max-height: 300px;   
    text-align: center;
    background: radial-gradient(black, #39FF14);
    align-items: center;
    display: block;
}

h1 {
    padding-top: 15px;
    font-size: 6em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #39FF14,
    0 0 21px #39FF14,
    0 0 42px #39FF14,
    0 0 82px #39FF14,
    0 0 92px #39FF14,
    0 0 102px #39FF14,
    0 0 151px #39FF14;
}

h6{
    text-align: center;
}
.card {
    color: white;
    background-color: #39FF14;
    box-shadow: 2px 2px 15px white;
}

.card h2, .card h5 {
    color: black;
}

.card h4 {
    color: darkgray;
}