body {
    background-color: darkslategray;
    color: white;
}

.hero {
    max-height: 300px;   
    text-align: center;
    background: radial-gradient(black, #39FF14);
    align-items: center;
    display: block;
}

h1 {
    padding-top: 15px;
    font-size: 6em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #39FF14,
    0 0 21px #39FF14,
    0 0 42px #39FF14,
    0 0 82px #39FF14,
    0 0 92px #39FF14,
    0 0 102px #39FF14,
    0 0 151px #39FF14;
}

h6 {
    text-align: center;
    color: white;
}

.card {
    color: white;
    background-color: #39FF14;
    /* box-shadow: 2px 2px 15px white; */
    margin-left: 25px;
    margin-right: 25px;
}

.card-title {
    color: white;
    padding: 8px;
}

.card-content {
    background-color: white;
    color: darkgray;
    min-height: 100px;
    margin: 15px;
    border-radius: 10px;
    padding: 8px;
}

.card-author {
    color: white;
    padding: 8px;
    justify-content: space-around;
}

.subtitle {
    text-align: center;
}

.login-form, .register-form {
    display: block;
    margin: auto;
    max-width: 275px;
    text-align: center;
}

#register-here {
    text-align: center;
    margin: auto;
}

#register {
    color: rgb(247, 90, 90);
}

.posts {
    margin: auto;
}

.post-links {
    text-decoration: none;
}

.card:hover {
    box-shadow: 2px 2px 15px white;
}


#create-post-section {
    text-align: center;
}

#create-post-button:hover {
    box-shadow: 5px 5px 15px white;
}

#new-post-form {
    display: block;
    margin: auto;
    width: 500px;
    text-align: center;
}

#new-post-title, #new-post-content {
    width: 500px;
}

#new-post-content {
    height: 300px;
}

.submit-comment-form {
    display: block;
    margin: auto;
    width: 500px;
    text-align: center;
}

.comment-card {
    width: 500px;
    margin: auto;
    color: black;
    background-color: white;
}

.comment-card h6 {
    color: black;
}

.h3-comments, .h3-single-post {
    text-align: center;
}

#edit-button {
    margin-left: 50px;
}

#delete-button {
    margin-left: 10px;
}
